<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO List</title>
    <link rel="shortcut icon" href="img/Favicon.png" type="image/x-icon">
    <!-- Global Design -->
    <link rel="stylesheet" href="css/global.css">
    <!-- Home Design -->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="paddingSize" id="navbar">
        <ul>
            <li><a href="/signup" id="active">Sign Up</a></li>
            <li><a href="/login" class="after">Log In</a></li>
            <li><a href="/" class="after" id="currentPage">Home</a></li>
        </ul>
    </nav>

    <header class="paddingSize">
        <div class="text">
            <h1>TO-DO List</h1>
            <p>A Simple ToDo App is built using the MVC Architecture, we have also implemented "authorization" so folx can sign up, customize & personalize the app </p>
            <a href="#" id="active" class="open">Contributors</a>
        </div>

        <svg width="100%" viewBox="0 0 748 526" fill="none" xmlns="http://www.w3.org/2000/svg"> <g id="undraw_selection_re_ycpo 1" clip-path="url(#clip0_17_5)"> <g id="Group 33"> <path id="Path 498" d="M609.437 348.188C610.273 347.102 610.862 345.846 611.16 344.508C611.459 343.17 611.46 341.783 611.165 340.444C610.869 339.106 610.284 337.848 609.45 336.76C608.615 335.673 607.553 334.781 606.337 334.148L608.19 312.8L595.49 308.51L593.296 338.694C592.369 340.807 592.249 343.187 592.959 345.383C593.669 347.578 595.16 349.438 597.149 350.608C599.138 351.778 601.487 352.178 603.751 351.732C606.015 351.287 608.037 350.026 609.434 348.189L609.437 348.188Z" fill="#FFB8B8"/> <path id="Path 499" d="M672.8 514.162H661.373L655.936 470.062H672.809L672.8 514.162Z" fill="#FFB8B8"/> <path id="Path 500" d="M653.207 510.894H675.255V524.776H639.325C639.325 521.094 640.788 517.563 643.391 514.96C645.994 512.357 649.525 510.894 653.207 510.894Z" fill="#2F2E41"/> <path id="Path 501" d="M646.855 484.9L635.755 487.628L619.949 446.105L636.334 442.078L646.855 484.9Z" fill="#FFB8B8"/> <path id="Path 502" d="M627.201 486.01L648.61 480.74L651.928 494.22L617.039 502.807C616.16 499.232 616.736 495.454 618.641 492.304C620.547 489.154 623.626 486.89 627.201 486.01V486.01Z" fill="#2F2E41"/> <path id="Path 503" d="M659.425 500.1C658.381 500.103 657.373 499.718 656.597 499.02C655.821 498.321 655.332 497.36 655.225 496.321L642.073 373.771L630.626 411.247L646.839 469.78C647.118 470.783 647.017 471.854 646.554 472.787C646.092 473.721 645.301 474.45 644.334 474.836L631.444 479.992C630.913 480.204 630.345 480.307 629.774 480.293C629.202 480.28 628.64 480.151 628.119 479.914C627.599 479.676 627.133 479.337 626.748 478.914C626.362 478.492 626.067 477.996 625.879 477.456L606.01 420.448C603.835 414.223 602.872 407.64 603.175 401.053L605.948 339.53L678.991 342.623L677.851 494.838C677.837 495.898 677.429 496.914 676.705 497.688C675.982 498.463 674.995 498.939 673.939 499.024L659.754 500.093C659.643 500.098 659.534 500.1 659.425 500.1Z" fill="#2F2E41"/> <path id="Ellipse 83" d="M647.328 203.374C660.893 203.374 671.889 192.378 671.889 178.813C671.889 165.248 660.893 154.252 647.328 154.252C633.763 154.252 622.767 165.248 622.767 178.813C622.767 192.378 633.763 203.374 647.328 203.374Z" fill="#FFB8B8"/> <path id="Path 504" d="M665.39 346.625C658.922 346.625 650.89 346.096 642.573 345.549C631.213 344.801 619.467 344.028 610.698 344.536C609.514 344.654 608.319 344.466 607.228 343.991C606.138 343.516 605.186 342.769 604.466 341.822C595.427 330.248 609.366 285.114 609.966 283.199L621.31 232.731L621.798 232.841L621.31 232.731C623.81 221.631 631.781 213.443 642.123 211.363C651.803 209.419 661.166 213.294 667.171 221.738C667.49 222.186 667.808 222.646 668.126 223.117C687.678 252.074 676.619 324.017 675.878 328.656C676.911 329.893 682.496 336.888 680.961 341.747C680.336 343.724 678.64 345.071 675.919 345.747C672.452 346.434 668.919 346.727 665.387 346.622L665.39 346.625Z" fill="#1839A0" fill-opacity="0.72"/> <path id="Path 505" d="M611.094 346.647C608.869 346.647 605.868 345.826 601.822 344.147C600.083 343.423 594.791 341.222 601.216 285.075C604.372 257.495 608.893 230.107 608.938 229.834L608.981 229.57L609.225 229.46C609.341 229.407 620.887 224.115 622.895 217.314C622.962 217.079 623.04 216.85 623.129 216.629C623.681 215.117 624.796 213.877 626.241 213.168C627.686 212.458 629.349 212.334 630.883 212.821C632.504 213.208 633.916 214.198 634.834 215.588C635.752 216.979 636.106 218.667 635.825 220.309C635.126 224.745 633.781 229.055 631.834 233.101C626.401 244.311 622.72 274.029 622.684 274.328C622.476 276.866 617.546 337 616.596 341.563C616.264 343.157 615.654 345.107 613.863 346.053C613.004 346.477 612.054 346.683 611.096 346.653L611.094 346.647Z" fill="#2F2E41"/> <path id="Path 506" d="M637.925 344.343C637.476 344.343 637.04 344.194 636.686 343.918C629.46 338.427 641.154 271.867 648.086 248.902C649.475 244.302 650.711 240.365 651.762 237.196C653.677 231.51 655.013 225.645 655.751 219.69C656.133 216.464 656.962 214.622 658.288 214.057C659.209 213.664 660.288 213.931 661.508 214.85C667.915 214.534 674.14 217.15 679.908 220.031L685.1 222.621L690.926 325.77C690.761 332.353 677.785 337 672.126 337.297C663.037 337.774 646.716 339.254 639.526 343.806C639.055 344.134 638.5 344.32 637.926 344.342L637.925 344.343Z" fill="#2F2E41"/> <path id="Path 507" d="M605.469 324.989C605.383 324.989 605.297 324.989 605.21 324.981L593.442 324.257C592.856 324.221 592.284 324.064 591.762 323.795C591.241 323.526 590.781 323.151 590.412 322.694C590.043 322.238 589.773 321.71 589.619 321.143C589.465 320.577 589.431 319.984 589.519 319.404L594.844 284.125L604.868 234.625C605.115 233.406 605.615 232.252 606.337 231.238C607.058 230.225 607.985 229.374 609.056 228.742C610.127 228.109 611.319 227.709 612.555 227.567C613.791 227.424 615.043 227.543 616.23 227.916V227.916C618.259 228.563 619.99 229.915 621.11 231.727C622.23 233.538 622.666 235.69 622.338 237.795L614.374 287.395L609.659 321.342C609.514 322.352 609.011 323.275 608.242 323.945C607.472 324.614 606.488 324.985 605.468 324.989H605.469Z" fill="#2F2E41"/> <path id="Path 508" d="M645.67 286.374C646.388 285.206 647.353 284.21 648.497 283.455C649.642 282.701 650.938 282.206 652.294 282.007C653.65 281.807 655.034 281.907 656.347 282.3C657.66 282.693 658.871 283.369 659.895 284.281L679.19 274.961L687.714 285.305L660.281 298.084C658.635 299.702 656.453 300.661 654.148 300.777C651.843 300.894 649.576 300.162 647.775 298.718C645.974 297.275 644.765 295.221 644.377 292.946C643.989 290.671 644.449 288.333 645.67 286.374V286.374Z" fill="#FFB8B8"/> <path id="Path 509" d="M672.474 296.383C671.524 296.383 670.602 296.063 669.855 295.475C669.109 294.887 668.582 294.066 668.36 293.142L665.56 281.492C665.346 280.616 665.419 279.694 665.768 278.863C666.118 278.031 666.725 277.334 667.5 276.873L684.4 266.757L675.76 235.123C675.013 232.414 675.355 229.52 676.715 227.061C678.074 224.601 680.343 222.772 683.034 221.964C685.726 221.156 688.627 221.434 691.116 222.738C693.605 224.042 695.485 226.269 696.353 228.942L705.892 258.067C707.064 261.617 707.073 265.449 705.918 269.005C704.764 272.561 702.505 275.656 699.471 277.84L674.951 295.58C674.23 296.102 673.364 296.383 672.474 296.383V296.383Z" fill="#2F2E41"/> <path id="Path 511" d="M489.874 0H16.68C12.2578 0.00529287 8.01826 1.76435 4.8913 4.89131C1.76434 8.01827 0.00529287 12.2578 0 16.68V67.6C0.00529287 72.0222 1.76434 76.2617 4.8913 79.3887C8.01826 82.5157 12.2578 84.2747 16.68 84.28H489.874C494.296 84.2747 498.536 82.5157 501.663 79.3887C504.79 76.2617 506.549 72.0222 506.554 67.6V16.68C506.549 12.2578 504.79 8.01827 501.663 4.89131C498.536 1.76435 494.296 0.00529287 489.874 0ZM504.798 67.6C504.792 71.5563 503.218 75.3489 500.42 78.1464C497.623 80.944 493.83 82.5182 489.874 82.524H16.68C12.7237 82.5182 8.93109 80.944 6.13356 78.1464C3.33603 75.3489 1.76182 71.5563 1.756 67.6V16.68C1.76182 12.7237 3.33603 8.93109 6.13356 6.13356C8.93109 3.33603 12.7237 1.76182 16.68 1.756H489.874C493.83 1.76182 497.623 3.33603 500.42 6.13356C503.218 8.93109 504.792 12.7237 504.798 16.68V67.6Z" fill="#123FA7"/> <path id="Path 512" d="M489.874 204.553H16.68C12.2578 204.548 8.01826 202.789 4.8913 199.662C1.76434 196.535 0.00529287 192.295 0 187.873V136.954C0.00529287 132.532 1.76434 128.292 4.8913 125.165C8.01826 122.038 12.2578 120.279 16.68 120.274H489.874C494.296 120.279 498.536 122.038 501.663 125.165C504.79 128.292 506.549 132.532 506.554 136.954V187.873C506.549 192.295 504.79 196.535 501.663 199.662C498.536 202.789 494.296 204.548 489.874 204.553ZM16.68 122.03C12.7233 122.034 8.92993 123.608 6.13211 126.406C3.33429 129.204 1.7605 132.997 1.756 136.954V187.873C1.7597 191.83 3.33314 195.624 6.13104 198.423C8.92895 201.221 12.7228 202.795 16.68 202.8H489.874C493.831 202.796 497.625 201.222 500.423 198.424C503.221 195.626 504.795 191.833 504.799 187.876V136.954C504.795 132.997 503.221 129.204 500.423 126.406C497.625 123.608 493.832 122.034 489.875 122.03H16.68Z" fill="#CCCCCC"/> <path id="Path 513" d="M489.874 324.827H16.68C12.2578 324.822 8.01826 323.063 4.8913 319.936C1.76434 316.809 0.00529287 312.569 0 308.147V257.228C0.00529287 252.806 1.76434 248.566 4.8913 245.439C8.01826 242.312 12.2578 240.553 16.68 240.548H489.874C494.296 240.553 498.536 242.312 501.663 245.439C504.79 248.566 506.549 252.806 506.554 257.228V308.147C506.549 312.569 504.79 316.809 501.663 319.936C498.536 323.063 494.296 324.822 489.874 324.827ZM16.68 242.3C12.7233 242.304 8.92993 243.878 6.13211 246.676C3.33429 249.474 1.7605 253.267 1.756 257.224V308.143C1.76023 312.1 3.33391 315.893 6.13176 318.692C8.92961 321.49 12.7231 323.063 16.68 323.068H489.874C493.831 323.064 497.625 321.49 500.423 318.692C503.221 315.894 504.795 312.101 504.799 308.144V257.228C504.796 253.27 503.222 249.476 500.424 246.677C497.626 243.878 493.832 242.304 489.874 242.3H16.68Z" fill="#CCCCCC"/> <path id="line2" d="M447.01 65.843H137.11C135.247 65.843 133.461 65.103 132.144 63.7859C130.826 62.4687 130.086 60.6823 130.086 58.8195C130.086 56.9568 130.826 55.1703 132.144 53.8531C133.461 52.536 135.247 51.796 137.11 51.796H447.01C448.873 51.796 450.659 52.536 451.976 53.8531C453.294 55.1703 454.034 56.9568 454.034 58.8195C454.034 60.6823 453.294 62.4687 451.976 63.7859C450.659 65.103 448.873 65.843 447.01 65.843V65.843Z" fill="#CCCCCC"/> <path id="line1" d="M346.045 35.994H137.103C135.24 35.994 133.454 35.254 132.137 33.9369C130.819 32.6197 130.079 30.8333 130.079 28.9705C130.079 27.1078 130.819 25.3213 132.137 24.0041C133.454 22.687 135.24 21.947 137.103 21.947H346.045C347.908 21.947 349.694 22.687 351.011 24.0041C352.329 25.3213 353.068 27.1078 353.068 28.9705C353.068 30.8333 352.329 32.6197 351.011 33.9369C349.694 35.254 347.908 35.994 346.045 35.994V35.994Z" fill="#CCCCCC"/> <path id="circle2" d="M80.619 191.445C74.877 191.445 69.264 189.742 64.4897 186.552C59.7154 183.362 55.9943 178.828 53.7969 173.523C51.5996 168.218 51.0246 162.381 52.1448 156.749C53.265 151.117 56.0301 145.944 60.0903 141.884C64.1505 137.824 69.3235 135.059 74.9551 133.939C80.5868 132.819 86.4241 133.394 91.7291 135.591C97.034 137.788 101.568 141.509 104.758 146.284C107.948 151.058 109.651 156.671 109.651 162.413C109.651 170.113 106.592 177.497 101.148 182.942C95.7032 188.386 88.3187 191.445 80.619 191.445V191.445Z" fill="#E6E6E6"/> <path id="line4" d="M447.01 186.117H137.11C135.247 186.117 133.461 185.377 132.144 184.06C130.826 182.743 130.086 180.956 130.086 179.094C130.086 177.231 130.826 175.444 132.144 174.127C133.461 172.81 135.247 172.07 137.11 172.07H447.01C448.873 172.07 450.659 172.81 451.976 174.127C453.294 175.444 454.034 177.231 454.034 179.094C454.034 180.956 453.294 182.743 451.976 184.06C450.659 185.377 448.873 186.117 447.01 186.117Z" fill="#E6E6E6"/> <path id="line3" d="M346.045 156.268H137.103C135.24 156.268 133.454 155.528 132.137 154.211C130.819 152.894 130.079 151.107 130.079 149.245C130.079 147.382 130.819 145.595 132.137 144.278C133.454 142.961 135.24 142.221 137.103 142.221H346.045C347.908 142.221 349.694 142.961 351.011 144.278C352.329 145.595 353.068 147.382 353.068 149.245C353.068 151.107 352.329 152.894 351.011 154.211C349.694 155.528 347.908 156.268 346.045 156.268Z" fill="#E6E6E6"/> <path id="circle3" d="M80.619 311.719C74.877 311.719 69.264 310.016 64.4897 306.826C59.7154 303.636 55.9943 299.102 53.7969 293.797C51.5996 288.492 51.0246 282.655 52.1448 277.023C53.265 271.391 56.0301 266.218 60.0903 262.158C64.1505 258.098 69.3235 255.333 74.9551 254.213C80.5868 253.093 86.4241 253.668 91.7291 255.865C97.034 258.062 101.568 261.783 104.758 266.558C107.948 271.332 109.651 276.945 109.651 282.687C109.651 290.387 106.592 297.771 101.148 303.216C95.7032 308.66 88.3187 311.719 80.619 311.719Z" fill="#E6E6E6"/> <path id="line6" d="M447.01 306.391H137.11C135.247 306.391 133.461 305.651 132.144 304.334C130.826 303.017 130.086 301.23 130.086 299.367C130.086 297.505 130.826 295.718 132.144 294.401C133.461 293.084 135.247 292.344 137.11 292.344H447.01C448.873 292.344 450.659 293.084 451.976 294.401C453.294 295.718 454.034 297.505 454.034 299.367C454.034 301.23 453.294 303.017 451.976 304.334C450.659 305.651 448.873 306.391 447.01 306.391Z" fill="#E6E6E6"/> <path id="line5" d="M346.045 276.542H137.103C135.24 276.542 133.454 275.802 132.137 274.485C130.819 273.168 130.079 271.381 130.079 269.518C130.079 267.656 130.819 265.869 132.137 264.552C133.454 263.235 135.24 262.495 137.103 262.495H346.045C347.908 262.495 349.694 263.235 351.011 264.552C352.329 265.869 353.068 267.656 353.068 269.518C353.068 271.381 352.329 273.168 351.011 274.485C349.694 275.802 347.908 276.542 346.045 276.542V276.542Z" fill="#E6E6E6"/> <g id="circle1"> <path id="Path 514" d="M80.619 71.172C74.877 71.172 69.264 69.4693 64.4897 66.2792C59.7154 63.0891 55.9943 58.555 53.7969 53.2501C51.5996 47.9452 51.0246 42.1078 52.1448 36.4761C53.265 30.8445 56.0301 25.6715 60.0903 21.6113C64.1505 17.5511 69.3235 14.786 74.9551 13.6658C80.5868 12.5456 86.4241 13.1206 91.7291 15.3179C97.034 17.5153 101.568 21.2364 104.758 26.0107C107.948 30.785 109.651 36.398 109.651 42.14C109.651 49.8398 106.592 57.2242 101.148 62.6687C95.7032 68.1133 88.3187 71.172 80.619 71.172Z" fill="#123FA7"/> <path id="Path 395" d="M79.137 52.352C78.4159 52.3537 77.7139 52.1206 77.137 51.688L77.101 51.661L69.576 45.905C69.2275 45.6378 68.935 45.3046 68.7152 44.9244C68.4955 44.5442 68.3528 44.1244 68.2952 43.6891C68.2377 43.2537 68.2665 42.8112 68.38 42.387C68.4934 41.9628 68.6893 41.565 68.9565 41.2165C69.2237 40.868 69.5569 40.5755 69.9371 40.3557C70.3173 40.136 70.7371 39.9933 71.1725 39.9357C71.6078 39.8782 72.0503 39.907 72.4745 40.0204C72.8987 40.1339 73.2965 40.3298 73.645 40.597L78.519 44.335L90.036 29.309C90.5755 28.6057 91.3721 28.1454 92.2508 28.0293C93.1296 27.9132 94.0184 28.1509 94.722 28.69V28.69L94.651 28.79L94.724 28.69C95.4266 29.2302 95.8862 30.0271 96.002 30.9057C96.1179 31.7844 95.8805 32.6731 95.342 33.377L81.795 51.043C81.4811 51.4493 81.078 51.7779 80.6167 52.0033C80.1554 52.2287 79.6484 52.345 79.135 52.343L79.137 52.352Z" fill="white"/> </g> <path id="Path 523" d="M746.62 526H548.62C548.355 526 548.1 525.895 547.913 525.707C547.725 525.52 547.62 525.265 547.62 525C547.62 524.735 547.725 524.48 547.913 524.293C548.1 524.105 548.355 524 548.62 524H746.62C746.885 524 747.14 524.105 747.327 524.293C747.515 524.48 747.62 524.735 747.62 525C747.62 525.265 747.515 525.52 747.327 525.707C747.14 525.895 746.885 526 746.62 526Z" fill="#CCCCCC"/> <path id="Path 561" d="M656.357 185.36C656.357 185.36 653.369 168.834 646.567 170.808C639.766 172.783 622.263 174.803 622.23 167.02C622.198 159.237 638.706 152.358 648.439 153.289C658.172 154.22 674.722 157.068 673.811 171.665C673.081 180.858 670.24 189.759 665.508 197.675L656.357 185.36Z" fill="#2F2E41"/> </g> </g> <defs> <clipPath id="clip0_17_5"> <rect width="747.62" height="526" fill="white"/> </clipPath> </defs> </svg>            
    </header>

    <div class="bg"></div>

    <div class="information">
        <i class="fa-solid fa-xmark" id="close"></i>
        <div class="person">
            <a href="https://github.com/RachFairchild"><img src="img/Rachel.png" width="100%"></a>
            <div class="details">
                <p class="name">Rachel Fairchild</p>
                <p class="task">Admin</p>
            </div>
        </div>

        <div class="person">
            <a href="https://github.com/CodingWithDan"><img src="img/Daniel.png" alt="" width="100%"></a>
            <div class="details">
                <p class="name">Daniel Shepardson</p>
                <p class="task">Github repo manager</p>
            </div>
        </div>

        <div class="person">
            <a href="https://github.com/MissGin"><img src="img/Bonnie.png" alt="" width="100%"></a>
            <div class="details">
                <p class="name">Bonnie</p>
                <p class="task">Front-End</p>
            </div>
        </div>

        <div class="person">
            <a href="https://github.com/AliReza1083"><img src="img/Ali Reza.png" alt="" width="100%"></a>
            <div class="details">
                <p class="name">Ali Reza</p>
                <p class="task">Front-End</p>
            </div>
        </div>

        <div class="person">
            <a href="https://github.com/lmiddeke"><img src="img/Leonie.png" alt="" width="100%"></a>
            <div class="details">
                <p class="name">Leonie</p>
                <p class="task">Front-End</p>
            </div>
        </div>

        <div class="person">
            <a href="https://github.com/codEno12"><img src="img/Eno.png" alt="" width="100%"></a>
            <div class="details">
                <p class="name">Eno</p>
                <p class="task">Back-End</p>
            </div>
        </div>

        <div class="person">
            <a href="https://github.com/ApplePieAngel"><img src="img/Amy.png" alt="" width="100%"></a>
            <div class="details">
                <p class="name">Amy</p>
                <p class="task">Back-End</p>
            </div>
        </div>

        <div class="person">
            <a href="https://github.com/meghannfh"><img src="img/Meghann.png" alt="" width="100%"></a>
            <div class="details">
                <p class="name">Meghann</p>
                <p class="task">Back-End</p>
            </div>
        </div>

        
    </div>

    <script src="js/app.js"></script>
    <script>
        const nav = document.querySelector('#navbar');

        window.addEventListener('scroll', e => {
            const scrollNav = window.scrollY;
            if (scrollNav >= 5) {
                nav.classList.add('navScroll')
            } else {
                nav.classList.remove('navScroll')
            }
        }) 
    </script>
</body>
</html>
