<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/Favicon.png" type="image/x-icon">
    <!-- Global Design -->
    <link rel="stylesheet" href="css/global.css">
    <!-- Home Design -->
    <link rel="stylesheet" href="css/home.css">
    <!-- Login Design -->
    <link rel="stylesheet" href="css/signUp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="paddingSize">
        <ul>
            <li><a href="/" class="after">Home</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="forms">
          <h1>Sign Up</h1>
          <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
            <% if (locals.messages.info) { %>
              <% messages.info.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <form action="/signup" method="POST">
              <input class='gray' type="name" name="userName" placeholder="User Name">
              <input  class='gray' type="email" name="email" placeholder="Email">
              <input class='gray' type="password" name="password" placeholder="Password">
              <input class='gray' type="password" name="confirmPassword" placeholder="Confirm Password">
              <input class='login' type="submit" value="Create an account">
              <p><a href='login'>Already have an account <i class="fa fa-long-arrow-right m-1-5" aria-hidden="true"></i></a></p>
          </form>
        </div>
    </div>
</body>
</html>
